.admin-container {
    padding: 2rem;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #ec9615;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 0.5rem;
    justify-content: center;
  }
  
  .card {
    background: transparent;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid #ddd;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px #f3f2f2;
  }
  
  .icon {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 0.5rem;
  }
  
  h3 {
    margin: 0.5rem 0;
    color: beige;
  }
  
  p {
    color: #f1ecec;
    font-size: 0.9rem;
  }
  