<!-- <div *ngIf="maintenance">
  <h2>Détail de la maintenance n°{{ maintenance.numeroMaintenance }}</h2>
  <p><strong>Date :</strong> {{ maintenance.dateMaintenance | date:'dd/MM/yyyy' }}</p>
  <p><strong>Description :</strong> {{ maintenance.description }}</p>
  <p><strong>Type :</strong> {{ maintenance.typeMaintenance }}</p>
  <p><strong>Statut :</strong> {{ maintenance.statut }}</p>
  <p><strong>Lieu :</strong> {{ maintenance.lieuRealisation }}</p>

  <h3>🧾 Coûts</h3>
  <ul>
    <li><strong>Main d’œuvre :</strong> {{ maintenance.coutMiseOuvre }} DT</li>
    <li><strong>Pièces :</strong> {{ maintenance.coutPiece }} DT</li>
    <li><strong>Externe :</strong> {{ maintenance.coutExterne }} DT</li>
    <li><strong>Total :</strong> {{ maintenance.coutTotal }} DT</li>
  </ul>

  <h3>📅 Facturation</h3>
  <p><strong>Numéro FA :</strong> {{ maintenance.numeroFa }}</p>
  <p><strong>Date facture :</strong> {{ maintenance.dateFacture | date }}</p>
  <p><strong>Date demande :</strong> {{ maintenance.dateDemande | date }}</p>
  <p><strong>Date répartition :</strong> {{ maintenance.dateRepartition | date }}</p>

  <h3>🧑‍🔧 Technicien</h3>
  <p><strong>Nom :</strong> {{ maintenance.technicien?.nom }} {{ maintenance.technicien?.prenom }}</p>
  <p><strong>Email :</strong> {{ maintenance.technicien?.emailTech }}</p>
  <p><strong>Téléphone :</strong> {{ maintenance.technicien?.telephoneTech }}</p>

  <h3>🚗 Véhicule</h3>
  <p><strong>Immatriculation :</strong> {{ maintenance.vehicule?.immatriculation }}</p>
  <p><strong>Marque :</strong> {{ maintenance.vehicule?.modelee?.libelle }}</p>
  <p><strong>Type carrosserie :</strong> {{ maintenance.vehicule?.typeCarrosserie?.libelle }}</p>
  <p><strong>Kilométrage :</strong> {{ maintenance.vehicule?.kilometrage_actuel }} km</p>



</div>
 -->