<div class="home-container">
    <div class="header">
      <h1>Bienvenue sur la gestion de parc automobile</h1>
      <p>Suivez et gérez vos véhicules en temps réel.</p>
      <p class="current-date">{{ currentDate }}</p>
    </div>
    
    <div class="image-gallery">
      <img src="assets/car1.jpg" alt="Véhicule 1" class="vehicle-image" />
      <img src="assets/car2.jpg" alt="Véhicule 2" class="vehicle-image" />
      <img src="assets/car3.jpg" alt="Véhicule 3" class="vehicle-image" />
    </div>
  </div>
  