<div class="container mt-4">
  <!-- Titre principal -->
  <h2 class="mb-3 text-primary">📊 Tableau de bord </h2>
  <p class="text-muted">Visualisez les indicateurs clés et rapports liés à votre flotte de véhicules.</p>

  <!-- Carte contenant l'iframe -->
  <div class="card shadow-sm">
    <div class="card-body">
      <div class="ratio ratio-16x9">
        <iframe 
          title="auto_parc"
          src="https://app.powerbi.com/reportEmbed?reportId=1e9065e4-90d4-468f-9771-7210a595bc43&autoAuth=true&ctid=622411e4-f3dc-4a1d-b9c6-6233b5ded727"
          frameborder="0"
          allowfullscreen="true">
<!--           <iframe title="auto_parc" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=1e9065e4-90d4-468f-9771-7210a595bc43&autoAuth=true&ctid=622411e4-f3dc-4a1d-b9c6-6233b5ded727" frameborder="0" allowFullScreen="true"></iframe>
 -->  
      </iframe>
      </div>
    </div>
  </div>
</div>