<!-- Footer -->
<footer class="bg-dark text-light py-4 mt-auto">
  <div class="container text-center">
    
    <!-- Adresse et contacts -->
    <div class="small mb-3">
      Immeuble ICC - Appt n°12 - 2ème étage Nord - Tunis.<br>
      Téléphone: 
      <a href="tel:+21671233303" class="text-primary text-decoration-none">+216 71 233 303</a> / 
      <a href="tel:+21671233213" class="text-primary text-decoration-none">71 233 213</a><br>
      Email: 
      <a href="mailto:commercial&#64;eltinfo.com.tn" class="text-primary text-decoration-none">commercial&#64;eltinfo.com.tn</a>
    </div>

    <!-- Icônes sociales -->
    <div class="social-icons">
      <a href="https://www.facebook.com/ElitinfoTunsie"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.linkedin.com/in/elitinfo-tunisie-87b863123/"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
      <a href="http://www.elitinfo.tn/"><i class="fab fa-google-plus-g"></i></a>
    </div>

  </div>
</footer>
